/* my style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.it-photo {
    width: 207px;
    height: 170px;
}

.carousel-item img {
    border-radius: 10%;
}